<h3>Edit Translator</h3>
<div flex="5">
    <button class="btn btn-md btn-default " aria-label="Go Back " ng-click="goBack()">
        <i class="fa fa-arrow-circle-left filter-goButton"> Back</i>
    </button>
</div>
<br>
<div class="row">

    <div class="col-md-8">
        <form ng-submit="submit()">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Insert Photo</label>
                <div class="col-md-9">
                   <span class="btn btn-default btn-file">
                     Browse <input type="file">
                   </span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">First Name </label>
                <div class="col-md-9">
                    <input class="form-control" type="text" ng-model="traducator.nume">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Last Name</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" ng-model="traducator.prenume">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Date of Birth</label>
                <div class="col-md-9">
                    <div class="form-inline">

                        <select name="day" selected="" id="" class="form-control" ng-model="traducator.dayBirth">
                            <option value="">Day</option>
                            <option ng-repeat="day in range(1)" value="{{day}}">{{day}}</option>
                        </select> --
                        <select name="month" selected='' class="form-control" ng-model="traducator.monthBirth">
                            <option value="">Month</option>
                            <option ng-repeat="opt in months" value="{{months.indexOf(opt)}}">{{opt}}</option>
                        </select> --

                        <input type="text" value="Year" placeholder="yyyy" size="2" ng-model="traducator.yearBirth" class="form-control date" data-date-format="yyyy" date-provide="datepicker">

                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Place of Birth </label>
                <div class="col-md-9">
                <select class="form-control" name="loculNasteri" ng-model="traducator.localitateNastere" 
						        ng-options="getLocality(locality) for locality in localities track by locality.nume" 
						        ></select>						     
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label ">Date of Death</label>
                <div class="col-md-9">
                    <div class="form-inline">
                        <select name="day" selected="" class="form-control" ng-model="traducator.dayDeath">
                            <option value="">Day</option>
                            <option ng-repeat="day in  range(1)" value="{{day}}">{{day}}</option>
                        </select> --
                        <select name="month" selected='' class="form-control" ng-model="traducator.monthDeath">
                            <option value="">Month</option>
                            <option ng-repeat="opt in months" value="{{months.indexOf(opt)}}">{{opt}}</option>
                        </select> --

                        <input type="text" value="Year" placeholder="yyyy" size="2"  ng-model="traducator.yearDeath" class="form-control date" data-date-format="yyyy" date-provide="datepicker">

                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" >Place of Death</label>
                <div class="col-md-9">
                     <select class="form-control" name="loculDecesului" ng-model="traducator.localitateDeces" 
						        ng-options="getLocality(locality) for locality in localities track by locality.nume" 
						        ></select>
                </div>
            </div>
            <div class="pseudonime row">
                <label class="col-md-3 col-form-label">NickNames</label>
                <br>
                <div class="col-md-9">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pseudonimeModal" ng-click="newPseudonimeEntry()">
                        <i class="glyphicon glyphicon-plus"></i>Insert</button>
                    <br>
                    <br>
                    <table class="table table-r" style="padding-top: 10px;">
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                        <tr ng-repeat="entry in traducator.pseudonime">
                            <td>{{entry.alias}}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#pseudonimeModal"
                                    ng-click = "editPseudonimeEntry(entry.id, $index)">
                                    <i class="glyphicon glyphicon-edit"> </i> Edit
                                </button>
                                <button class="btn btn-sm btn-danger"
                                    ng-click="deletePseudonimeEntry(entry.id, $index)">
                                    <i class="glyphicon glyphicon-remove"> </i> Delete
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Processed By </label>
                <div class="col-md-9">
                <select class="form-control" name="infoPrelucateDE" ng-model="traducator.prelucratDe" 
						        ng-options="getUserName(user) for user in users track by user.lastName" 
						        ></select>						     
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Biographica Aspects</label>
                <div class="col-md-9">
                    <trix-editor angular-trix ng-model="traducator.aspecteBibliografice" inlist=""  style="width: 300px; height: 100px;"> </trix-editor>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Attributions/Contributions editorial,social</label>
                <div class="col-md-9">
                    <trix-editor angular-trix ng-model="traducator.atributiiContributiiEditoriale" inlist=""  style="width: 300px; height: 100px;"> </trix-editor>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Translator Activity</label>
                <div class="col-md-9">
                    <trix-editor angular-trix ng-model="traducator.activitateTraducator" inlist=""  style="width: 300px; height: 100px;"> </trix-editor>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-md-offset-3 padding-btn"  >
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-ok"> </i> Save
                    </button>
                    <button type="button" class="btn btn-danger">
                        <i class="glyphicon glyphicon-refresh"> </i> Reset
                    </button>
                </div>
            </div>


        </form>
    </div>
    <div id="pseudonimeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">NickNames</h4>
                </div>
                <form ng-submit="submitPseudonimeModal()">
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-10">
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#nickNameModal"
                                        ng-click="editNickNamesEntry()"><i class="glyphicon glyphicon-plus"></i>Insert</button>
                                <span class="pseudonim" ng-repeat="entry in traducator.pseudonime">
                                 {{entry.alias}}  <button class="btn btn-sm btn-danger" ng-click="removeAlias($index)">
                                <i class="glyphicon glyphicon-remove"> </i> </button>
                            </span>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelPseudonimeModal()">Close</button>
                        <button type="submit" class="btn btn-default" data-dismiss="modal">Save</button>
                    </div>
                </form>
            </div>
        </div> <!-- Was missing before -->
    </div> <!-- Was missing before -->
    <div id="nickNameModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pseudonime</h4>
                </div>
                <form ng-submit="submitNickNameModal()">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Search</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" ng-model="searchFilter"></input>
                                <div class="pseudonime">
                                    <div class="alias" ng-repeat="entry in traducator.nicknames | filter: searchFilter">
                                        <input type="checkbox"  checklist-model="traducator.nicknames" checklist-value="alias">
                                        {{entry.alias}}</input>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelNickNamesModal()">Close</button>
                        <button type="submit" class="btn btn-default" data-dismiss="modal">Save</button>
                    </div>
                </form>
            </div>
        </div> <!-- Was missing before -->
    </div> <!-- Was missing before -->

    <!--/*<div id="listaTraduceriModal" class="modal fade" role="dialog">-->
        <!--<div class="modal-dialog">-->
            <!--&lt;!&ndash; Modal content&ndash;&gt;-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    <!--<h4 class="modal-title">Translation List</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<div class="form-group row">-->
                        <!--<label class="col-md-3 col-form-label">Author</label>-->
                        <!--<div class="col-md-5">-->
                            <!--<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#autorModal"><i class="glyphicon glyphicon-plus"></i>Adauga</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group row">-->
                        <!--<label class="col-md-3 col-form-label">Title</label>-->
                        <!--<div class="col-md-5">-->
                            <!--<input class="form-control" type="text" ng-model="translators[id].titlu">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group row">-->
                        <!--<label class="col-md-3 col-form-label">Year</label>-->
                        <!--<div class="col-md-3">-->
                            <!--<input class="form-control" type="text" list="years" ng-model="translators[id].An">-->
                            <!--<datalist id="years">-->
                                <!--<option value="{{year}}" ng-repeat="year in years">{{year}}</option>-->
                            <!--</datalist>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group row">-->
                        <!--<label class="col-md-3 col-form-label">Details</label>-->
                        <!--<div class="col-md-9">-->
                            <!--<trix-editor class="form-control" ng-model="translators[id].detalii"></trix-editor>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group row">-->
                        <!--<label class="col-md-3 col-form-label">Type</label>-->
                        <!--<div class="col-md-5">-->
                            <!--<input class="form-control" type="text" ng-model="translators[id].tip">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div> &lt;!&ndash; Was missing before &ndash;&gt;-->
    <!--</div> &lt;!&ndash; Was missing before &ndash;&gt;-->


    <!--<div id="autorModal" class="modal fade" role="dialog">-->
        <!--<div class="modal-dialog">-->
            <!--&lt;!&ndash; Modal content&ndash;&gt;-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    <!--<h4 class="modal-title">Author</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<div class="form-group row">-->
                        <!--<label class="col-md-3 col-form-label">Search</label>-->
                        <!--<div class="col-md-9">-->
                            <!--<input type="text" class="form-control" ng-model="searchFilter">-->
                            <!--<div class="authors">-->

                                <!--<div class="author" ng-repeat="author in authors | filter: searchFilter">-->
                                    <!--<input type="checkbox" ng-click="checkSelectedAuthor(author)" ng-checked="isSelected(author)"> {{author.name}}-->
                                <!--</div>-->


                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div> &lt;!&ndash; Was missing before &ndash;&gt;-->
    <!--</div> &lt;!&ndash; Was missing before &ndash;&gt;-->
    <!---->
      <!---->
</div>