<h2>{{message}}</h2>
<div class="tab-content">
  
  <a ui-sref="^.insert">
        <button class="btn btn-primary">
            Insert Author
        </button>
    </a>

    <div id="show-users" class="tab-pane fade in active">
        <div class="row">
            <div class="col-md-3">
                <h3>Show authors</h3>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control filter-input" ng-model="autorFilter" placeholder="author...">
            </div>
        </div>
        <table class="table table-r">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Title</th>
            <th>Details</th>
            <th>Actions</th>
            <tr ng-repeat="author in authors| filter: autorFilter | orderBy: 'nume'">
                <td>{{author.nume}}</td>
                <td>{{author.prenume}}</td>
                <td>{{author.titlu}}</td>
                <td>{{author.detalii}}</td>
                <td>
                    <button class="btn btn-sm btn-primary"
                            ng-click="editAuthor(author.id, $index)">
                        <i class="glyphicon glyphicon-edit"> </i> Edit
                    </button>
                    <button class="btn btn-sm btn-danger"
                            ng-click="deleteAuthor(author.id, $index)" >
                        <i class="glyphicon glyphicon-remove"> </i> Delete
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>